@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

:root {
    --dark-clr: hsl(0, 0%, 10%);
    --light-clr: hsl(0, 0%, 90%);
    --light-shade-clr: hsl(0, 0%, 75%);
    --dark-shade-clr: hsl(0, 0%, 25%);
    --medieval-font: "MedievalSharp";
    --normal-font: "Quattrocento";
    --left-margin-increment: 1vw;
    --left-margin-primary: 6vw;
    --left-margin-secondary: calc(var(--left-margin-primary) + var(--left-margin-increment));
    --left-margin-tertiary: calc(var(--left-margin-secondary) + var(--left-margin-increment));
    --left-margin-quarternary: calc(var(--left-margin-tertiary) + var(--left-margin-increment));
    --left-margin-quinary: calc(var(--left-margin-quarternary) + var(--left-margin-increment));
    --bottom-margin: 15vh;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--dark-clr);
    padding: 0;
    margin: 0;
    font-family: var(--normal-font);
}

main {
    background-color: var(--light-clr);
    color: var(--dark-clr);
    min-width: 100%;
    z-index: -1;
}

footer,
header {
    background-color: var(--dark-clr);
    color: var(--light-clr);
}

h1 {
    font-family: var(--medieval-font);
    font-size: 8vh;
}

/* HEADER */
header {
    z-index: 1;
    display: grid;
    grid-template-columns: 12fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "nav-bar vtt-icon";
}

header img {
    background-color: var(--light-clr);
    width: 8vh;
    border-radius: 10px;
}

.vtt-icon {
    grid-area: vtt-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav-bar;
    margin-left: var(--left-margin-primary);
}

header img:hover {
    background-color: var(--light-shade-clr);
}

header ul li {
    list-style-type: none;
}

/* Dropdown */
nav ul {
    display: flex;
    gap: 5px;
}

.dropbtn {
    background-color: var(--dark-clr);
    color: var(--light-clr);
    padding: 16px;
    margin: 0 5px 0 5px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-shade-clr);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--dark-clr);
    z-index: 1;
}

.dropdown-content a {
    color: var(--light-shade-clr);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--light-shade-clr);
    color: var(--dark-clr);
    font-weight: bolder;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-shade-clr);
    color: var(--dark-clr);
}

/* MAIN */

br {
    background-color: var(--light-clr);
    height: var(--bottom-margin);
}

/* Landing page */

.landing-page {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.landing-page h1 {
    text-align: center;
    margin-right: 15vw;
}

.intro-lore {
    font-style: italic;
}

.intro-logistics a {
    font-weight: bolder;
}

.intro-logistics a:hover {
    color: var(--dark-shade-clr);
}

@media only screen and (min-width: 600px) {
    .index {
        display: grid;
        width: 90%;
        grid-template-areas: "sl left sc right sr";
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    }

    .intro-lore {
        grid-area: left;
    }

    .intro-logistics {
        grid-area: right;
    }
}

/* DM Page */

.content-roller {
    display: grid;
    width: 90%;
    grid-template-areas:" title title title title title " 
                        "sl left sc right sr";
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
}

.output {
    grid-area: left;
}

.input {
    grid-area: right;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.title-dm {
    grid-area: title; 
}

/* Content page */

#dm-page section {
    margin-left: var(--left-margin-primary);
}

.content-page a {
    font-weight: bolder;
    font-style: italic;
}

.content-page h2 {
    margin-left: var(--left-margin-primary);
    margin-top: 5vh;
}

.subtitle {
    margin-left: var(--left-margin-quarternary)
}

.content-page h3+p {
    margin-left: var(--left-margin-quinary);
}

.content-page p {
    margin-left: var(--left-margin-secondary);
}

.content-page ul {
    margin-left: var(--left-margin-tertiary);
}

.content-page ol {
    margin-left: var(--left-margin-tertiary);
}

.content-page section {
    max-width: min-content;
    min-width: 75vw;
}

/* Menus */
menu {
    background-color: var(--light-shade-clr);
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 1vh 3vh 3vh 3vh;
    width: 15vw;
    margin-left: var(--left-margin-primary);
}

menu a {
    margin-top: 1vh;
}

/* Tables */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 35vw;
    margin-left: 25vw;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-baqh {
    text-align: center;
    vertical-align: top
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: top
}

.charsheet col {
    width: 3.5vw;
}

.charsheet .tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 35vw;
    table-layout: fixed;
}

.charsheet .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.charsheet .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.charsheet .tg .tg-1wig {
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.charsheet .tg .tg-baqh {
    text-align: center;
    vertical-align: top
}

.charsheet .tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.charsheet .tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

/* FOOTER */

footer {
    margin-top: 5vh;
    height: 10vh;
}

footer .container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "info-corner void dm-corner";
}

.info-corner {
    grid-area: info-corner;
    position: relative;
}

.void {
    grid-area: void;
}

.dm-corner {
    grid-area: dm-corner;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* OTHER */

.hidden {
    display: none; 
}